:root {
  /* ===== CORES ===== */
  --white: #ffffff;

  /* Accent */
  --accent-600: #6858ff;
  --accent-500: #7876ef;

  /* Alert */
  --alert-500: #ff5c5c;
  --alert-800: rgba(255, 92, 92, 0.08);

  /* Gray scale */
  --gray-900: #0d0d0d;
  --gray-800: #111111;
  --gray-700: #1a1a1a;
  --gray-600: #242424;
  --gray-500: #737373;
  --gray-200: #b3b3b3;
  --gray-100: #a3a3a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray-100);
}

body,
input,
button {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
}
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 62px 124px;
  gap: 32px;

  overflow-y: scroll;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.btn {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 0.5px solid var(--gray-200);
  padding: 0 16px;
  color: var(--white);
  transition: background-color 0.3s;
}

.btn-outline:hover {
  background-color: var(--gray-200);
  color: var(--gray-700);
}

.icon {
  width: 20px;
  height: 20px;
}

.btn-primary {
  background: var(--accent-600);
  border: 1px solid #7878d7;
  border-radius: 6px;
  color: var(--white);
  padding: 0 44px;
  transition: opacity 0.5s;
}

.btn-primary:hover {
  opacity: 0.8;
}
.prompt-title {
  font-size: 32px;
  font-weight: 600;
  outline: none;
}

.prompt-content {
  font-size: 16px;
  color: var(--white);
  line-height: 32px;
  outline: none;
}

.editable-wrapper {
  position: relative;
}

.editable-wrapper::before {
  content: attr(data-placeholder);
  position: absolute;
  color: var(--gray-200);
  pointer-events: none;
  opacity: 0;
}

.editable-wrapper.is-empty::before {
  opacity: 1;
}

#title-wrapper.is-empty {
  font-size: 32px;
  font-weight: 600;
  color: var(--gray-200);
}

#content-wrapper.is-empty {
  font-size: 16px;
  color: var(--gray-200);
  line-height: 32px;
}

.icon-button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.open-toggle {
  position: absolute;
  top: 62px;
  left: 62px;
  display: none;
}

.sidebar {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 32px;
  background-color: var(--gray-800);
  border-right: 0.5px solid var(--gray-700);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 20px;

  border-bottom: 1px solid var(--gray-700);
  gap: 20px;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 22px;
  transform: translateY(-50%);
}

.search-input {
  background: transparent;
  height: 44px;
  width: 100%;
  border: 1px solid var(--gray-200);
  outline: none;
  color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  padding-left: 48px;
}

.search-input::placeholder {
  color: var(--gray-200);
}

.btn-full {
  width: 100%;
  justify-content: center;
}

.logo {
  font-size: 24px;
}
.prompt-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 12px;
  cursor: pointer;
  margin-top: 20px;
}
.prompt-item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
  flex: 1;
}
.prompt-item-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prompt-item-description {
  font-size: 12px;
  color: var(--gray-200);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s;
  height: 32px;
  width: 32px;
}
.btn-icon:hover {
  background-color: var(--alert-800);
}

.icom-trask {
  width: 20px;
  height: 20px;
}

@media (max-width: 950px) {
  .open-toggle {
    display: block !important;
    z-index: 0;
    top: 38px;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    max-width: 360px;
    transform: translateX(-100%);
    z-index: 1100;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main {
    padding: 24px 32px;
    margin-left: 0;
    overflow-y: auto;
  }
}
